# This workflow will install Python dependencies, then perform static linting analysis.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v3

    - uses: mamba-org/setup-micromamba@v1
      with:
        create-args: >-
          python=3.11
        channels: conda-forge,defaults
        channel-priority: strict
        show-channel-urls: true
        environment-file: ci-environment.yml
        activate-environment: deepdisc

    - name: Install dependencies
      run: |
        sudo apt-get update
        python -m pip install --upgrade pip
        pip install . --no-build-isolation
        pip install .[dev] --no-build-isolation
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Analyze code with linter
      run: |
        pylint -rn -sn --recursive=y ./src
        pylint -rn -sn --recursive=y ./tests
      # the following line allows the CI test to pass, even if pylint fails
      continue-on-error: true
